{
	"presets": [
		[
			"env",
			{
				"modules": false,
				"targets": {
					"chrome": "60"
				}
			}
		]
	],
	"env": {
		"test": {
			"presets": [
				"env"
			],
			"plugins": [
				"istanbul"
			]
		}
	}
}
