.token.keyword,
.token.operator {
	color: #d73a49;
}

.token.class-name {
	color: #6f42c1;
}

.token.deleted,
.token.function {
	color: #6f42c1;
}

.token.doctype {
	color: #24292e;
}

.token.prolog,
.token.cdata,
.token.comment {
	color: #6a737d;
}

.token.tag {
	color: #22863a;
	.token.punctuation {
		color: #24292e;
	}
}

.token.attr-name {
	color: #6f42c1;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.attr-value,
.token.string {
	color: #032f62;
}

.token.number {
	color: #005cc5;
}

.token.boolean {
	color: #005cc5;
}

// ----------------- custom -----------------
// ---- javascript ----
.language-javascript,
.language-js,
.language-jsx {
	.token.function.prototype {
		// example: require.<find>()
		// but not: require.<customfunction>()
		// based on Array, Object, String, Number, Symbol, Function prototypes
		color: #005cc5;
	}

	.token.keyword.builtin.console {
		// example: <require>()
		color: #6f42c1;
	}

	.token.function.builtin {
		// example: <require>()
		color: #005cc5;
	}

	.token.keyword.builtin {
		// example <console>
		color: #005cc5;
	}

	.token.keyword.builtin + .token.punctuation + .token.function {
		// example: console.<log>
		color: #6f42c1;
	}

	.token.keyword.builtin.console + .token.punctuation + .token.function {
		// example: console.<log>
		color: #005cc5;
	}
}
