.prsm--token.prsm--keyword,
.prsm--token.prsm--operator {
	color: #d73a49;
}

.prsm--token.prsm--class-name {
	color: #6f42c1;
}

.prsm--token.prsm--deleted,
.prsm--token.prsm--function {
	color: #6f42c1;
}

.prsm--token.prsm--selector {
	color: #6f42c1;
}

.prsm--token.prsm--property {
	color: #005cc5;
}

.prsm--token.prsm--rule {
	color: #d73a49;
}

.prsm--token.prsm--doctype {
	color: #24292e;
}

.prsm--token.prsm--prolog,
.prsm--token.prsm--cdata,
.prsm--token.prsm--comment {
	color: #6a737d;
}

.prsm--token.prsm--tag {
	color: #22863a;
	.prsm--token.prsm--punctuation {
		color: #24292e;
	}
}

.prsm--token.prsm--attr-name {
	color: #6f42c1;
}

.prsm--token.prsm--important,
.prsm--token.prsm--bold {
	font-weight: bold;
}

.prsm--token.prsm--italic {
	font-style: italic;
}

.prsm--token.prsm--attr-value,
.prsm--token.prsm--string {
	color: #032f62;
}

.prsm--token.prsm--number {
	color: #005cc5;
}

.prsm--token.prsm--boolean {
	color: #005cc5;
}

// ----------------- custom -----------------
// ---- javascript ----
.language-javascript,
.language-js,
.language-jsx {
	.prsm--token.prsm--function.prsm--prototype {
		// example: require.<find>()
		// but not: require.<customfunction>()
		// based on Array, Object, String, Number, Symbol, Function prototypes
		color: #005cc5;
	}

	.prsm--token.prsm--keyword.prsm--builtin.prsm--console {
		// example: <require>()
		color: #6f42c1;
	}

	.prsm--token.prsm--function.prsm--builtin {
		// example: <require>()
		color: #005cc5;
	}

	.prsm--token.prsm--keyword.prsm--builtin {
		// example <console>
		color: #005cc5;
	}

	.prsm--token.prsm--keyword.prsm--builtin + .prsm--token.prsm--punctuation + .prsm--token.prsm--function {
		// example: console.<log>
		color: #6f42c1;
	}

	.prsm--token.prsm--keyword.prsm--builtin.prsm--console + .prsm--token.prsm--punctuation + .prsm--token.prsm--function {
		// example: console.<log>
		color: #005cc5;
	}
}
